<div class="container" style="border-color: black; border-style: solid;">
	<form action="#" th:action=@{/employee/add} th:object=${requestModel}
		method="post">
		<div style="display: inline;">
			<label for="empName">Name: </label> 
			<input type="text" th:field="*{empName}" id="empName" placeholder="Employee Name" style="margin-top: 10px;"> 
			<span th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span>
			
			<label for="empMailId">empMailId</label>
			<input type="text" th:field="*{empMailId}" id="empMailId" placeHolder="empMailId" style="margin-top: 10px;">
			<span th:if="${#fields.hasErrors('empMailId')}" th:errors="*{empMailId}"></span>
			
			<label for="empJoiningDate">Joining Date: </label>
			<input type="Date" th:field="*{empJoiningDate}" id="empJoiningDate" style="margin-top: 10px;">
			<span th:if="${#fields.hasErrors('empJoiningDate')}" th:errors="*{empJoiningDate}"></span>

			<input type="submit" value= "Add Employee" style="margin-top: 10px;">
		</div>
	</form>
</div>